
.banner-color{
    background-color: #264653;
   height: 700px;
 
}
.banner-img img{
  


}

.banner-text{
    color: #E0E0E0;
    
}
.banner-heder{
    color: #FFFFFF;
    font-weight: 600;
    
}
.modal-button{

border-radius: 5px;
padding: px;
padding-left: 30px;
padding-right: 30px;
padding-top: 10px;
padding-bottom: 10px;
 background-color:  #E76F51;
  text-decoration: none;
 color:  #FFFFFF;
    
    
}
.modal-button:hover{
    color: black;
    background-color: aqua;
    
}
.fetyred-bikes-part{
    margin-top: 64px;
}
.fetured-bike{
    color: black;
    font-size: 48px;
    
}
.best-bike{
    color: #E76F51;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 120px;
    
}

    
    

.gryascale-3{
  
filter: grayscale(1);

}

    

.happy-client{
    margin-top: 160px;
    margin-bottom: 52px;
    
}
.happy{
    color: #0A0826;
    font-size: 48px;
    

}
.clients{
    color: #E76F51;
    font-size: 48px;
    
}
.card-img-top{
    height: 149px;
    width: 149px;
   
    
   margin: auto;
   
    
   
    
}
.color{
color:  #E77C40;



}
.color-2{
    color:  #E77C40; 
  
}
.litile-p{
    color:  #23A6F0;
    
}
.litile-p-2{
    color: #252B42;
   
}
.card-body i{
    width: 22px;
    height: 22px;
}
.f-a-q{
    margin-top: 160px;
    margin-bottom: 112px;
}
.accordion img{
    height: 397px;
width: 424px;


}
.accordion{
    margin-bottom: 139px;
}
.button{
    height: 44px;
width: 91px;
background-color: #E76F51;


border-radius: 5px;
padding: 10px, 24px, 10px, 24px;

    color: white;
}